<div class="auth-custom-form">
  <h3 class="form-title">Forgot your password?</h3>
  <form [formGroup]="forgotPassForm">
    <input
      type="email"
      pInputText
      [class]="
        forgotPassForm.get('email')?.invalid &&
        (forgotPassForm.get('email')?.touched ||
          forgotPassForm.get('email')?.dirty)
          ? 'ng-invalid ng-dirty'
          : ''
      "
      formControlName="email"
      placeholder="Enter Email"
      variant="filled"
    />

    <app-input-validation-alert
      [form]="forgotPassForm"
      inputName="email"
    ></app-input-validation-alert>

    <!-- <a
      class="auth-option-link"
      routerLink="../forgotPassword"
      routerLinkActive="active"
      >Recover Password ?</a
    > -->

    <app-auth-button
      (actionToParent)="sendOTP(forgotPassForm.value)"
      btnLabel="Send OTP"
      [isDisabled]="!forgotPassForm.valid"
    ></app-auth-button>
  </form>
  <app-toast></app-toast>
</div>
