<header class="exam-header">
  <div class="top-header flex align-items-center justify-content-between">
    <div class="left-side">
      <span>Question <span>1</span> of <span>20</span></span>
    </div>
    <div class="right-side flex align-items-center">
      <img src="assets/images/timer.png" alt="" srcset="" />
      <span class="ml-2 timer">14.59</span>
    </div>
  </div>
  <ul class="unstyled-list p-0 quiz-step-wrapper flex justify-content-around">
    @for (item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]; track
    $index) { @if($first){
    <li class="quiz-step answered"></li>
    }@else {
    <li class="quiz-step"></li>
    } }
  </ul>
</header>
<section class="question-sestion">
  <p>Exercitationem pariatur quae facere vel id est illo velit aut.</p>
  <form class="flex flex-column gap-3" [formGroup]="formGroup">
    @for (category of categories; track $index) {

    <div class="answer-box flex">
      <p-radioButton
        [inputId]="category.key"
        [value]="category"
        formControlName="selectedCategory"
      />
      <label [for]="category.key" class="ml-2">
        {{ category.name }}
      </label>
    </div>

    }
    <div class="bts-group flex justify-content-center">
      <app-primary-button btnLabel="Back"></app-primary-button>
      <app-primary-button
        btnLabel="Next"
        [isDisabled]="true"
      ></app-primary-button>
    </div>
  </form>
</section>
