<h3 class="form-title">Set a Password</h3>
<form [formGroup]="resetPassForm">
  <input
    hidden
    type="email"
    pInputText
    [class]="
      resetPassForm.get('email')?.invalid &&
      (resetPassForm.get('email')?.touched || resetPassForm.get('email')?.dirty)
        ? 'ng-invalid ng-dirty'
        : ''
    "
    formControlName="email"
    placeholder="Enter Email"
    variant="filled"
  />

  <app-input-validation-alert
    [form]="resetPassForm"
    inputName="email"
  ></app-input-validation-alert>

  <p-password
    (ngModelChange)="handlePasswordsMatching()"
    formControlName="password"
    [toggleMask]="true"
    [class]="
      resetPassForm.get('password')?.invalid &&
      (resetPassForm.get('password')?.touched ||
        resetPassForm.get('password')?.dirty)
        ? 'p-fluid ng-invalid ng-dirty'
        : 'p-fluid'
    "
    placeholder="Password"
    variant="filled"
  />

  <app-input-validation-alert
    [form]="resetPassForm"
    inputName="password"
  ></app-input-validation-alert>

  <p-password
    formControlName="rePassword"
    [toggleMask]="true"
    [class]="
      resetPassForm.get('rePassword')?.invalid &&
      (resetPassForm.get('rePassword')?.touched ||
        resetPassForm.get('rePassword')?.dirty)
        ? 'p-fluid ng-invalid ng-dirty'
        : 'p-fluid'
    "
    placeholder="Confirm Password"
    variant="filled"
  />
  <app-input-validation-alert
    [form]="resetPassForm"
    inputName="rePassword"
  ></app-input-validation-alert>

  <app-auth-button
    (actionToParent)="resetPass(resetPassForm.value)"
    btnLabel="Reset Password"
    [isDisabled]="!resetPassForm.valid || isSubmitted"
    [isLoading]="isSubmitted"
  ></app-auth-button>
</form>
<app-toast></app-toast>
