<app-custom-section sectionWrapperClasses="flex flex-wrap">
  <div class="img-container">
    @if(isUserInfoLoaded ){ @if(userPhoto){
    <img
      [src]="userPhoto"
      alt=""
      width="216"
      height="216"
      style="display: block; object-fit: cover"
    />
    }@else{
    <img
      src="assets/images/robot.png"
      alt=""
      width="216"
      height="216"
      style="display: block; object-fit: cover"
    />
    } }@else {<p-skeleton size="216px" />}
  </div>
  <div class="user-reports ml-6">
    <h2 class="mb-0" style="color: var(--main-color)">
      @if(isUserInfoLoaded){
      {{ userObj.firstName }} {{ userObj.lastName }} } @else {<p-skeleton
        width="25rem"
        styleClass="mb-2"
      />
      }
    </h2>
    <p class="mt-1" style="color: var(--gray-color)">
      @if(isUserInfoLoaded){
      {{ userObj.email }}
      }@else {<p-skeleton width="10rem" styleClass="mb-2" />}
    </p>
    <app-custom-progress-bar progeressPrecentage="50"></app-custom-progress-bar>
    <ul class="m-0 p-0 unstyled-list user-reports-details flex flex-wrap">
      <app-report-card
        classes="mr-6 my-2"
        reportIcon="fa-solid fa-flag"
        reportTitle="Quiz Passed"
        reportResult="27"
      ></app-report-card>
      <app-report-card
        classes="mr-6 my-2"
        reportIcon="fa-solid fa-clock"
        reportTitle="Fastest Time"
        reportResult="13 min"
      ></app-report-card>
      <app-report-card
        classes="my-2"
        reportIcon="fa-solid fa-circle-check"
        reportTitle="Correct Answers"
        reportResult="200"
      ></app-report-card>
    </ul>
  </div>
</app-custom-section>

<app-custom-section class="subjects-section mt-3">
  <header class="flex justify-content-between">
    <p>Quizes</p>
    <a>View All</a>
  </header>
  <!-- 
  <ul class="unstyled-list p-0 flex flex-wrap">
    @if(isSubjectsDataLoaded){ @for (subject of allSubjects; track subject._id)
    {
    <app-subject-card
      (actionToParent)="goToExamsOfSubject(subject._id)"
      [id]="subject._id"
      [icon]="subject.icon"
      [name]="subject.name"
    ></app-subject-card>
    } }@else {
    <li><p-skeleton size="310px" /></li>
    <li class="ml-5"><p-skeleton size="310px" /></li>
    <li class="ml-5"><p-skeleton size="310px" /></li>
    }
  </ul> -->

  <ul
    class="unstyled-list p-0 flex flex-column align-items-center flex-wrap justify-content-center"
  >
    @if(isSubjectsDataLoaded){
    <cdk-virtual-scroll-viewport
      itemSize="200"
      class="example-viewport"
      (scrolledIndexChange)="onScroll($event)"
    >
      <app-subject-card
        *cdkVirtualFor="let subject of allSubjects"
        (actionToParent)="goToExamsOfSubject(subject._id)"
        [id]="subject._id"
        [icon]="subject.icon"
        [name]="subject.name"
      ></app-subject-card>
    </cdk-virtual-scroll-viewport>
    }@else {
    <li><p-skeleton size="310px" /></li>
    <li class="my-5"><p-skeleton size="310px" /></li>
    <li class="my-5"><p-skeleton size="310px" /></li>
    }
  </ul>
  <!-- <p-scroller
    [items]="items"
    [itemSize]="200"
    [delay]="250"
    [lazy]="true"
    (onLazyLoad)="loadItems($event)"
    scrollHeight="400px"
    styleClass="border-1 surface-border"
    [style]="{ width: '100%' }"
  >
    <ng-template pTemplate="item" let-item let-options="options">
      <div
        class="flex align-items-center p-2"
        [class]="{ 'surface-ground': options.odd }"
        style="height: 200px"
      >
        {{ item }}
      </div>
    </ng-template>
  </p-scroller>

  <ul class="unstyled-list p-0 flex flex-wrap">
    <p-scroller
      [items]="allSubjects"
      [itemSize]="200"
      [delay]="250"
      [lazy]="true"
      (onLazyLoad)="loadItems($event)"
      scrollHeight="200px"
      styleClass="border-1 surface-border"
      [style]="{ width: '100%' }"
    >
      <ng-template pTemplate="item" let-item let-options="options">
        <div
          class="flex align-items-center p-2"
          [class]="{ 'surface-ground': options.odd }"
          style="height: 200px; margin: 100px 5px"
        >
          <app-subject-card
            (actionToParent)="goToExamsOfSubject(item._id)"
            [id]="item._id"
            [icon]="item.icon"
            [name]="item.name"
          ></app-subject-card>
        </div>
      </ng-template>
    </p-scroller>
  </ul> -->
</app-custom-section>
