<app-custom-section sectionWrapperClasses="flex">
  <div class="img-container">
    @if(isUserInfoLoaded){
    <img
      src="assets/images/robot.png"
      alt=""
      width="216"
      height="216"
      style="display: block; object-fit: cover"
    />

    }@else {<p-skeleton size="216px" />}
  </div>
  <div class="user-reports ml-6">
    <h2 class="mb-0" style="color: var(--main-color)">
      @if(isUserInfoLoaded){
      {{ userObj.firstName }} {{ userObj.lastName }} } @else {<p-skeleton
        width="25rem"
        styleClass="mb-2"
      />
      }
    </h2>
    <p class="mt-1" style="color: var(--gray-color)">
      @if(isUserInfoLoaded){
      {{ userObj.email }}
      }@else {<p-skeleton width="10rem" styleClass="mb-2" />}
    </p>
    <app-custom-progress-bar progeressPrecentage="50"></app-custom-progress-bar>
    <ul class="m-0 p-0 unstyled-list user-reports-details flex flex-wrap">
      <app-report-card
        classes="mr-6"
        reportIcon="fa-solid fa-flag"
        reportTitle="Quiz Passed"
        reportResult="27"
      ></app-report-card>
      <app-report-card
        classes="mr-6"
        reportIcon="fa-solid fa-clock"
        reportTitle="Fastest Time"
        reportResult="13 min"
      ></app-report-card>
      <app-report-card
        reportIcon="fa-solid fa-circle-check"
        reportTitle="Correct Answers"
        reportResult="200"
      ></app-report-card>
    </ul>
  </div>
</app-custom-section>

<app-custom-section class="subjects-section mt-3">
  <header class="flex justify-content-between">
    <p>Quizes</p>
    <a>View All</a>
  </header>

  <ul class="unstyled-list p-0 flex flex-wrap">
    @if(isSubjectsDataLoaded){ @for (subject of allSubjects; track subject._id)
    {
    <app-subject-card
      (actionToParent)="goToExamsOfSubject(subject._id)"
      [id]="subject._id"
      [icon]="subject.icon"
      [name]="subject.name"
    ></app-subject-card>
    } }@else {
    <li><p-skeleton size="310px" /></li>
    <li class="ml-5"><p-skeleton size="310px" /></li>
    <li class="ml-5"><p-skeleton size="310px" /></li>
    }
  </ul>

  <!-- <cdk-virtual-scroll-viewport
    itemSize="200"
    (scrolledIndexChange)="onScroll($event)"
    style="height: 400px; width: auto; border: 1px solid black; overflow: auto"
  >
    <div *cdkVirtualFor="let item of items" class="item">
      {{ item }}
    </div>
  </cdk-virtual-scroll-viewport> -->
</app-custom-section>
