li.report-card {
  & .icon-box {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 15px 40px 5px #ededed;
    width: 70px;
    height: 70px;

    & i {
      color: var(--main-color);
      font-size: 31px;
    }
  }

  & .report-overview {
    & .report-overview-number {
      font-size: 29px;
      color: var(--dark-gray);
    }
    & .report-overview-title {
      color: var(--dark-gray);
    }
  }
}
