.timer {
  color: #11ce19;
  width: 40px;
}

.quiz-step-wrapper {
  padding: 8px;
}

.quiz-step {
  width: 10px;
  height: 10px;
  margin: 8px;
  background: #d9d9d9;
  border-radius: 50%;
}

.answered {
  background: var(--main-color);
}

::ng-deep {
  .p-radiobutton .p-radiobutton-box {
    border: 2px solid var(--main-color);
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #fff;
  }

  .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background: var(--main-color);
  }
}

.answer-box {
  background: #edeff3;
  padding: 16px 8px;
  border-radius: 10px;
  margin: 4px 0;
}

.correct {
  color: #02369c;
}

.in-correct {
  color: #cc1010;
}

.result-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.correct .result-circle {
  border: 1px solid #02369c;
}

.in-correct .result-circle {
  border: 1px solid #cc1010;
}

// ============================================

.result-wrapper {
  max-width: 776px;
  max-height: 600px;
  overflow-y: scroll;
}

.question-result-box {
  margin: 8px;
  width: 291px;
  flex-grow: 1;
  background: #f9f9f9;
  padding: 16px 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #2a292940;
}

.answer-box {
  width: 100%;
  word-break: break-all;
  border-radius: 10px;
  padding: 16px 8px;
  margin: 4px 0;
  background: #edeff3;
}
.wrong-answer-box {
  border: 1px solid #cc1010;
  background: #f8d2d2;
}

.wrong-answer-box {
  border: 1px solid #11ce19;
  background: #caf9cc;
}
