<div class="auth-layout">
  <div class="auth-layout-wrapper flex flex-wrap">
    <div class="start-side flex flex-column justify-content-evenly">
      <div class="group-1">
        <h2 class="welcome-msg">Welcome to</h2>
        <h1 class="org-name">Elevate</h1>
        <p class="org-desc">
          Quidem autem voluptatibus qui quaerat aspernatur architecto natus
        </p>
      </div>
      <div class="group-2">
        <img src="/assets/images/bro.png" alt="Person writing" />
      </div>
    </div>

    <div class="end-side">
      <nav
        class="auth-nav flex flex-row flex-wrap justify-content-end align-items-center"
      >
        <div class="lang-switcher">
          <p-toast />
          <p-splitButton
            label="{{ currentLang }}"
            [model]="items"
            text
            (onClick)="updateLang(otherLang)"
          />
        </div>
        <a
          class="sign-in-btn block"
          routerLink="signin"
          routerLinkActive="active"
          >Sign In</a
        >
        <a
          class="register-btn block"
          routerLink="register"
          routerLinkActive="active"
          >Register</a
        >
      </nav>

      <div class="auth-forms-layout flex flex-column justify-content-around">
        <div
          class="auth-form-layout-wrapper flex flex-column justify-content-center flex-wrap flex-grow-1"
        >
          <!-- TODO : Fix responive issue with flex when screen is mobile -->
          <div class="auth-custom-form flex flex-column">
            <router-outlet></router-outlet>
          </div>
          <div class="or-separator-line">
            <span>Or Continue with</span>
          </div>

          <!-- <asl-google-signin-button
            type="icon"
            size="medium"
          ></asl-google-signin-button> -->

          <div class="sso-btns-group flex justify-content-center flex-wrap">
            <app-sso-button
              imgUrl="/assets/images/google-logo.png"
            ></app-sso-button>
            <app-sso-button
              imgUrl="/assets/images/twitter-logo.png"
            ></app-sso-button>
            <app-sso-button
              imgUrl="/assets/images/fb-logo.png"
            ></app-sso-button>
            <app-sso-button
              imgUrl="/assets/images/apple-logo.png"
            ></app-sso-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
