<h3 class="form-title">Sign in</h3>
<form [formGroup]="signinForm">
  <input
    type="email"
    pInputText
    [class]="
      signinForm.get('email')?.invalid &&
      (signinForm.get('email')?.touched || signinForm.get('email')?.dirty)
        ? 'ng-invalid ng-dirty'
        : ''
    "
    formControlName="email"
    placeholder="Enter Email"
    variant="filled"
  />

  <app-input-validation-alert
    [form]="signinForm"
    inputName="email"
  ></app-input-validation-alert>
  <!--  ng-invalid ng-dirty -->
  <p-password
    formControlName="password"
    [toggleMask]="true"
    [class]="
      signinForm.get('password')?.invalid &&
      (signinForm.get('password')?.touched || signinForm.get('password')?.dirty)
        ? 'p-fluid ng-invalid ng-dirty'
        : 'p-fluid'
    "
    placeholder="Password"
    variant="filled"
  />
  <app-input-validation-alert
    [form]="signinForm"
    inputName="password"
  ></app-input-validation-alert>
  <a
    class="auth-option-link"
    routerLink="../forgotPWD"
    routerLinkActive="active"
    >Recover Password ?</a
  >

  <app-primary-button
    (actionToParent)="login(signinForm.value)"
    [isDisabled]="!signinForm.valid || isSubmitted"
    btnLabel="Login"
    classes="w-full"
    styles="padding:8px; border-radius:20px;"
    [isLoading]="isSubmitted"
  >
  </app-primary-button>
</form>
<app-toast></app-toast>
