<h3 class="form-title">Verify The OTP Code</h3>
<form [formGroup]="verifyCodeForm">
  <input
    type="text"
    pInputText
    [class]="
      verifyCodeForm.get('resetCode')?.invalid &&
      (verifyCodeForm.get('resetCode')?.touched ||
        verifyCodeForm.get('resetCode')?.dirty)
        ? 'ng-invalid ng-dirty'
        : ''
    "
    formControlName="resetCode"
    placeholder="Enter OTP Code"
    variant="filled"
  />

  <app-input-validation-alert
    [form]="verifyCodeForm"
    inputName="resetCode"
  ></app-input-validation-alert>

  @if (!isReSendCodeClicked){
  <a role="button" (click)="resendOTP()" class="resend-otp cursor-pointer"
    >Resend OTP</a
  >

  }@else {
  <span class="resend-otp">Wait {{ displayOTPTime }} to re-send again</span>
  }
  <app-primary-button
    (actionToParent)="verifyCode(verifyCodeForm.value)"
    btnLabel="Verify OTP"
    [isDisabled]="!verifyCodeForm.valid || isSubmitted"
    [isLoading]="isSubmitted"
    classes="w-full"
    styles="padding:8px; border-radius:20px;"
  ></app-primary-button>
</form>
<app-toast></app-toast>
