<header class="header flex align-items-center">
  <div
    class="search-container input-group flex-grow-1 mr-2 flex align-items-center"
  >
    <div class="icon-box flex align-items-center px-2">
      <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
    </div>

    <input
      class="custom-search-input w-full"
      type="text"
      placeholder="Search Quiz"
    />
  </div>

  <app-primary-button
    btnLabel="Start Quiz"
    classes="mr-2"
    styles="border-radius:20px; padding:10px 32px"
  ></app-primary-button>
  <div class="person-img">
    <img
      src="assets/images/robot.png"
      alt="person image"
      [class]="!isImageLoaded ? 'd-none' : ''"
      (load)="onImageLoad()"
    />
    <p-skeleton
      [class]="isImageLoaded ? 'd-none' : ''"
      shape="circle"
      size="61px"
    />
  </div>
</header>
