<div class="sso-btns-group flex justify-content-center flex-wrap">
  <asl-google-signin-button
    class="google-btn"
    type="icon"
    [size]="'large'"
  ></asl-google-signin-button>
  <!-- <app-sso-button imgUrl="/assets/images/google-logo.png"></app-sso-button> -->
  <app-sso-button imgUrl="/assets/images/twitter-logo.png"></app-sso-button>
  <app-sso-button imgUrl="/assets/images/fb-logo.png"></app-sso-button>
  <app-sso-button imgUrl="/assets/images/apple-logo.png"></app-sso-button>
</div>
<!--     style="visibility: hidden" -->
